html{height:100%;}

body{min-height:100%;margin:0;padding:0;position:relative;}

.header{
	width: 100%;
	.wrap{
		width: 100%;
		height: 30px;
		position: fixed;
		z-index:12 ;
		padding: 0 38px 0 36px;
		background-color: #f7f7f7;
		.item_j,.item_k{
			width: 48px;
			height: 34px;
			display: inline-block;
		}
		.item_j{
			background: url(../img/jordan.svg) no-repeat ;
			position: absolute;
			left: 50px;
		}
		.item_j:hover{
			opacity: 0.6;
		}
		.item_k{
			background: url(../img/jordan.svg) no-repeat ;
			position: absolute;
			left: 90px;
		}
		.item_k:hover{
			opacity: 0.6;
		}
		.menuDown{
			float: left;
			position: relative;
			left: 1575px;
			top: 5px;
			height: 100%;
			.dropdown{
				width: 240px;
				height: 310px;
				background-color: #fff;
				position: absolute;
				display: none;
				opacity: 0;
				z-index: 9;
				top: 20px;
				left: -195px;
				transition: all 0.3s linear;
				li{
					font-size: 14px;
					margin: 5px 0px;
				}
			}
		}
		
		.menuDown:hover .dropdown{
			display: inline-block;
			opacity: 1;
			top: 26px;
			z-index: 9;
		}
		.nikevip{
			float: left;
			position: relative;
			left: 1585px;
			top: 5px;
			a{
				color: #000;
				font-size: 14px;
			}
		}
		.login_top{
			float: left;
			position: relative;
			left: 1590px;
			top: 5px;
			a{
				color: #000;
				font-size: 14px;
			}
		}
		
	}
	
	.menu{
		width: 100%;
		min-height: 72px;
		position: fixed;
		z-index: 10;
		top: 30px;
		transition: all 0.5s linear; 
		background-color: #fff;
		.pre-logo{
			width: 85px;
			height: 55px;
			padding: 0 5px;
			float: left;
			img{
				width: 100px;
				height: 60px;
			}
			// background: url(../dist/img/Nike.svg) no-repeat;
			.item_nike{
				width: 40px;
				height: 40px;
				display: inline-block;
			}	
		}
		.pre-search{
			width: 180px;
			height: 40px;
			display: inline-block;
			position: relative;
			margin-top: 10px;
			margin-left: 340px;
			
			.search{
				height: 100%;
				border: 1px solid #f5f5f5;
				border-radius: 15px;
				background-color: #f5f5f5;
				box-sizing: border-box;
				padding-left: 33px;
				width: 170px;
			}
			.search:hover{
				background-color: #ccc;
			}
			.icon-Magnifier{
				position: absolute;
				/* top: 8px; */
				left: 0px;
				padding-top: 7px;
				font-size: 24px;
				height: 100%;
				border-radius: 15px;
				display: inline-block;
				width: 32px;
			}
			.icon-Magnifier:hover{
				background-color: #ccc;
			}
		}
		.icon-aixin{
			font-size: 24px;
			margin-left: 10px;
			cursor: pointer;
		}
		.icon-gouwudai{
			font-size: 24px;
			margin-left: 10px;
			cursor: pointer;
		}
		.menu:hover {
			min-height: 200px;
		}
	}
	
	.list{
		width: 350px;
		float: left;
		margin-left: 760px;
		li{
			float: left;
			line-height: 60px;
			padding: 0 5px;
		}
		li:hover{
			border-bottom: 2px solid #000;
		}
		
		
	}
}

.banner{
	width: 100%;
	height: 70px;
	position: relative;
	
	z-index: 5;
	top: 100px;
	background-color: #f7f7f7;
	.swiper-container{
		width: 770px;
		height: 100%;
		margin: 0 auto;
		// --swiper-theme-color: #ff6600;/* 设置Swiper风格 */
		// .swiper-navigation-color: #00ff33;/* 单独设置按钮颜色 */
		// .swiper-navigation-size: 14px;/* 设置按钮大小 */
		.swiper-slide{
			text-align: center;
			font-size: 12px;
		}
	}
}

.wall-header{
	position: relative;
	top: 100px;
	padding: 0 48px;
	background-color: #fff;
	height: 40px;
	z-index: 9;
	strong{
		display: inline-block;
		font-size: 24px;
		width: 1560px;
	}
	h2{
		display: inline-block;
		cursor: pointer;
		margin-left: 10px;
		font-size: 16px;
	}
}

.main{
	
	    top: 170px;
	    min-height: 1000px;
	    position: absolute;
		margin-top: 10px;
	.main_left{
		    min-width: 240px;
		    padding: 0px 0px 1em 48px;
			float: left;
			.left_filters{
				
				.filter{
					  border-top: 1px solid #ccc;
					  line-height: 50px;
					  overflow: hidden;
					  width: 200px;
					  height: 50px;
					  overflow: hidden;
					  cursor: pointer;
					.filter-group{
						i{
							display: inline-block;
							width: 150px;
							margin-right: 15px;
						}
					}
					.filter-item{
						
						.item-block{
							position: relative;
							span{
							display: inline-block;
							position: absolute;
							top: -5px;
								
							}
						
					
							}
							.item-block-color{
								position: relative;
								display: inline-block;
								width: 30px;
								height: 30px;
								margin-left: 19px;
								margin-right: 5px;
							
								
							}
						}
						.checkmark{
							width: 20px;
							height: 20px;
							margin-right: 10px;
						}
					}
					.filter-new{
						  border-top: 1px solid #ccc;
						  line-height: 50px;
						  overflow: hidden;
						  width: 200px;
						  min-height: 50px;
						  cursor: pointer;
						.filter-group{
							i{
								display: inline-block;
								width: 150px;
								margin-right: 15px;
							}
						}
						.filter-item{
							
							.item-block{
								position: relative;
								span{
								display: inline-block;
								position: absolute;
								top: -5px;
									
								}
								i{
									display: inline-block;
									width: 24px;
									height: 24px;
									border-radius: 50%;
									
								}
								em{
									position: absolute;
									font-size: 14px;
									top: 15px;
									left: 0px;
									}
								}
								.item-block-color{
									position: relative;
									display: inline-block;
									width: 30px;
									height: 30px;
									margin-left: 19px;
									margin-right: 5px;
									i{
										display: inline-block;
										width: 24px;
										height: 24px;
										border-radius: 50%;
										// background-color: rgb(141, 66, 159);
									}
									em{
										position: absolute;
										font-size: 14px;
										top: 15px;
										left: 0px;
										}
								}
							}
							.checkmark{
								width: 20px;
								height: 20px;
								margin-right: 10px;
							}
						}
				}
			}
	    }
	.product li{
		margin: 8px 0;
	}
	.main_center{
		padding: 0 48px 0 40px;
		margin-left: 265px;
		.details{
			float: left;
			height: 700px;
			margin-left: 15px;
			cursor: pointer;
			img{
				width: 500px;
				height: 500px;
				margin-bottom: 10px;
			}
			.product-card_info{
				line-height: 26px;
				.product-card_info_new{
					color:#FA5400;
				}
				.product-card__subtitle{
					color: #757575;
				}
			}
			.product-card_color{
				color: #757575;
				margin-bottom: 10px;
			}
		}
	
	
}

.footer{
	height: 333px;
	background-color: #111;
	position:absolute;
	bottom: -410px;
	width:100%;
	box-sizing: border-box;
	padding: 30px 200px 0 200px;
	.footer-content{
		
		.footer-top{
			.contact{
				float: right;
				margin-right: 60px;
				.bggray{
					    font-size: 24px;
					    color: #000;
					    padding-left: 2px;
				}
				span{
					    display: inline-block;
					    width: 30px;
					    height: 30px;
					    border-radius: 50%;
					    background-color: #7e7e7e;
				}
				span:hover{
					background-color: #fff;
				}
				
			}
			ul{
				display: inline-block;
				width: 150px;
				margin-left: 90px;
				margin-right: 70px;
				li{
					display: block;
					font-size: 14px;
					color: #fff;
					margin: 10px 0 3px 0;
				}
			}
			dl{
				display: inline-block;
				margin-right: 70px;
				vertical-align: top;
				margin-top: 8px;
				margin-right: 130px;
				dt{
					color: #fff;
					font-size: 12px;
				}
				dd{
					color: #7e7e7e;
					font-size: 12px;
					margin-top: 8px;
				}
			}
		}
		.footer-bottom{
			width: 1376px;
			height: 90px;
			margin: 0 auto;
			border-top: 1px solid #222;
			margin-top: 26px;
			
			.bottom_left{
				float: left;
				margin-top: 60px;
				i{
					color: #fff;
					
				}
				span{
					color: #7e7e7e;
				}
			}
			.bottom_right{
				float: left;
				margin-left: 500px;
				ul li{
					display: inline-block;
					margin-right: 10px;
					color: #7e7e7e;
					float: left;
					cursor: pointer;
				}
				li:hover{
					color: #fff;
				}
			}
			
		}
	}
}
// .swiper-container{
//     --swiper-theme-color: #ff6600;/* 设置Swiper风格 */
//     --swiper-navigation-color: #00ff33;/* 单独设置按钮颜色 */
//     --swiper-navigation-size: 14px;/* 设置按钮大小 */
//   }

.login{
	width: 436px;
	height: 480px;
	background-color: #fff;
	position: fixed;
	top: 40%;
	left: 40%;
	display: none;
	.login_header{
		
		.login_logo{
			
			img{
				width: 60px;
				margin-top: 20px;
				margin-left: 190px;
		}
		p{
			    color: #111;
			    font-family: TradeGothicforNike365-BdCn,Helvetica!important;
			    font-size: 26px;
			    line-height: 26px;
				font-weight: 700;
				text-align: center;
		}
		.login_close{
			position: absolute;
			top: -10px;
			right: 2px;
			font-size: 30px;
			cursor: pointer;
		}
	}
	
	.login_input{
		
		.input-group{
			width: 320px;
			margin: 0 auto;
			margin-bottom: 10px;
		}
		#exampleInputPassword1{
			width: 320px;
			margin: 0 auto;
			margin-bottom: 10px;
		}
		.useemail{
			display: block;
			margin-left: 50px;
			margin-bottom: 20px;
		}
		.remember{
			margin-left: 50px;
			margin-bottom: 20px;
			width: 18px;
			height: 18px;
		}
		p{
			text-align: center;
		}
		button{
			width: 320px;
			height: 40px;
			margin-left: 50px;
			margin-bottom: 20px;
		}
		i{
			cursor: pointer;
			text-decoration: underline;
		}
	}
}
}
.register{
	width: 436px;
	height: 480px;
	background-color: #fff;
	position: fixed;
	top: 40%;
	left: 40%;
	display: none;
	.register_header{
		
		.register_logo{
			
			img{
				width: 60px;
				margin-top: 20px;
				margin-left: 190px;
		}
		p{
			    color: #111;
			    font-family: TradeGothicforNike365-BdCn,Helvetica!important;
			    font-size: 26px;
			    line-height: 26px;
				font-weight: 700;
				text-align: center;
		}
		.register_close{
			position: absolute;
			top: -10px;
			right: 2px;
			font-size: 30px;
			cursor: pointer;
		}
	}
	
	.register_input{
		.input-group{
			width: 320px;
			margin: 0 auto;
			margin-bottom: 10px;
		}
		#exampleInputPassword2{
			width: 320px;
			margin: 0 auto;
			margin-bottom: 10px;
		}
		.useemail{
			display: block;
			margin-left: 50px;
			margin-bottom: 20px;
		}
		.remember{
			margin-left: 50px;
			margin-bottom: 20px;
			width: 18px;
			height: 18px;
		}
		p{
			text-align: center;
		}
		button{
			width: 320px;
			height: 40px;
			margin-left: 50px;
			margin-bottom: 20px;
			background-color: #000;
			color: #fff;
		}
		i{
			cursor: pointer;
			text-decoration: underline;
		}
	}
	
   }
}
