.header{
	width: 100%;
	height: 107px;
	position: fixed;
	border-bottom: 4px solid #ed435b;
	.header_1{
		margin: 0 auto;
		width: 1200px;
		overflow: hidden;
		position: relative;

		h1 img{
			width: 180px;
			height: 63px;
			float: left;
			margin-top: 17px;
			cursor: pointer;
		}
		.p0{
			margin-left: 16px;
		}
		p{
			width: 100px;
			height: 24px;
			font-size: 18px;
			float: left;
			margin-top: 35px;
			text-align: center;
			border-right: 1px solid #6c6c6c;
			a{
				color: #6c6c6c;
				}
			}
		.p1{
			border-right:none ;
		}
	}

}